/CMakeLists.txt
/Makefile
/checker
/checker.c
/checker.o
/checker_small.cpp
/description.pdf
/flower.ppm
/flower_medium.ppm
/flower_medium_correct.ppm
/flower_medium_errors.ppm
/flower_small.ppm
/flower_small_correct.ppm
/flower_small_errors.ppm
/flower_tiny.ppm
/flower_tiny_correct.ppm
/flower_tiny_errors.ppm
/image_processing_baseline.c
/image_processing_c
/image_processing_c.o
/image_processing_opencl.cl
/image_processing_opencl.cpp
/image_processing_reference
/image_processing_reference.c
/image_processing_reference.o
/perf.data
/ppm.c
/ppm.h
/ppm.o
/small_answer.txt
/small_input.txt